<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletConversor</servlet-name>
        <servlet-class>Servlets.ServletConversor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormOpinion</servlet-name>
        <servlet-class>Servlets.ServletFormOpinion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIntroCeldas</servlet-name>
        <servlet-class>Servlets.ServletIntroCeldas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardaMatriz</servlet-name>
        <servlet-class>Servlets.ServletGuardaMatriz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVisorMatrices</servlet-name>
        <servlet-class>Servlets.ServletVisorMatrices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConversor</servlet-name>
        <url-pattern>/ServletConversor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFormOpinion</servlet-name>
        <url-pattern>/ServletFormOpinion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIntroCeldas</servlet-name>
        <url-pattern>/ServletIntroCeldas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardaMatriz</servlet-name>
        <url-pattern>/ServletGuardaMatriz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVisorMatrices</servlet-name>
        <url-pattern>/ServletVisorMatrices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
